<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37284292694-evquqfi19dojcvnc4843rh963grrd4ti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37284292694-evquqfi19dojcvnc4843rh963grrd4ti</string>
	<key>API_KEY</key>
	<string>AIzaSyAVoSIQPvWBAyq_T-eM5s5i0NPhuM7K8zs</string>
	<key>GCM_SENDER_ID</key>
	<string>37284292694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trinhsgroup.TrinhsgroupCheckInOut</string>
	<key>PROJECT_ID</key>
	<string>trinhskitchen-6c8b0</string>
	<key>STORAGE_BUCKET</key>
	<string>trinhskitchen-6c8b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37284292694:ios:1278ff9e875e147f6ab3f7</string>
</dict>
</plist>